
#pan_extension {
  position:fixed;
  /* right:0; */
  right: -200px; /* to prevent blicking */
  top:130px;
  bottom: 0px;
  z-index: 1000;
  border: rgb(73, 66, 66) solid;
  border-left-color: rgb(148, 140, 131);
  border-width: 5px 0 4px 2px;
  border-radius: 24px;
  border-bottom-right-radius: 0;
  width: 220px;
  /* _padding: 20px; */
  height:auto;
  font-family: 'Times New Roman', Times, serif;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: square;
}
ul {padding-left: 18px;}

h1, h2, h3,
h4, h5, h6 {
  padding-left: 10px;
  padding-right: 10px;
}

.timeline_datetime {
  display: inline-block;
  border: grey dashed 1px;
  padding: 1px 2px 1px 3px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.timeline_add {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  border: grey dashed 1px;
  border-left: 0;
  padding: 0 3px 2px 3px;
  text-decoration: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.timeline_add b {
  cursor: pointer;
}

.timeline_add:hover b {
  /* color: #d25b44; */
  color: #48970b;
  display: inline-block;
}

.content {
  vertical-align: top;
  color: #dcaf67;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}
.content table, .content tr, .content td, .content th {
  margin:0;
  padding: 0;
  text-align: left;
}
.content tr {
  color: #eacd86;
}
.content table.units {
  color: #dcaf67;
  padding-right: 2px;
  width: 100%;
}
.content .units tr {
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
  margin: -22px 0 0 44px;
}
.content .units tr:nth-child(2n+1) {
  flex-direction: row;
  margin: -22px 44px 0 0;
}

.content .units td {
  vertical-align: middle;
  padding: 2px;
  /* align-items: center; */
}

.content .units td:nth-child(2),
.content .units td:nth-child(3) {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.content .units td:first-child {
  border-radius: 1000px;
  padding: 0 0 4px 0;
  cursor: pointer;
  text-align: center;
  line-height: 12px;
}
.content .units td:first-child img {
  max-width: 40px;
}

.content .units tr:nth-child(2n) td {
  text-align: right;
}

.content .units .unit_info {
  width: 34px;
  height: 19px;
  text-align: right;
  margin: -4px 0 0 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: no-repeat 2px 3px;
  background-color: #61503b;
  /* padding: 5px 2px 2px 2px; */
}

.content .units .rank {
  width: 34px;
  height: 19px;
  background: no-repeat 14px 6px;
}

#table {
  color: #eacd86;
  font-size: 12px;
}

h1#heading {
  padding: 15px 40px 0 0;
  text-align: center;
  font-size: 16px;
  background: no-repeat 72px 0px url('http://www.panhradu.cz/i/u/dem_cr_v_3_3.gif');
  line-height: 40px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-shadow: -2px 2px #000;
  border-bottom: 1px solid #503c2f;
  margin:-17px 5px 10px 0;
}
h1#heading:hover {
  background-image: url('http://www.panhradu.cz/i/u/dem_cr_v_3_3f.gif');
}

#notification {
  position: absolute;
  width: 110px;
  background: #c9e0fff0;
  color: #221718;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 16px;
  border: 2px solid #2317193b;
  margin-top: -15px;
  margin-left: -8px;
}

#table h3 {
  padding: 0 10px;
}

#table p {
  padding: 0 15px 0 5px;
}

.erb {
  /* border:1px yellow solid; */
  /* width:13px; */
  height: 13px;
  background: 4px -2px no-repeat #69762d;
  border-radius: 10px;
  padding: 9px 0 0 0;
}
.erb img {
  /* width: 18px; */
  position:absolute:
  margin-left: -10px;
}

#handle {
  position:relative;
  left:0;
  width:30px;
  height:100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #221718dd;
}
#handle .inner {
  padding-top: 49px;
}
#handle .menu a {
  display:block;
  width:25px; /* +5px */
  height:36px;
  background:#1A1410;
  line-height: 12px;
  text-align: right;
  padding-right: 3px;
  vertical-align: middle;
  text-decoration: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border: 1px solid #15100d; */
  border: 1px solid #452e26;
  border-width: 2px 0 1px 2px;
  margin: 0 0 2px 0;
  text-shadow: -2px 2px #000;
}
#handle .menu a:hover {
  background-color:#221718;
}
#handle .menu a.active {
  background-color:#221718;
}
#handle .menu a.summary.active {
  background-image: url('/i/u/zbb_3_3.gif');
  background-position: -20px -4px;
}
#handle .menu a.resources.active {
  background-image: url('/i/u/sel_2_3.gif');
  background-position: -20px -5px;
}
#handle .menu a.version.active {
  /* background-image: url('http://panhradu.cz/i/u/drc_3_1f.gif'); */
  background-image: url('/i/u/bk_2_3.gif');
  background-position: -26px -9px;
}
#handle .menu a.post.active {
  /* background-image: url('http://panhradu.cz/i/u/drc_3_1f.gif'); */
  background-image: url('/i/u/pamt_b_3_3.gif');
  background-position: -20px -6px;
}

#handle .menu a.fights.active {
  /* background-image: url('/i/u/dwr_2_3f.gif'); */
  /* background-position: -24px -16px; */
  background-image: url('/i/u/elmm_3_2.gif');
  background-position: -23px -4px;
}
#handle .menu a.timeline.active {
  background-image: url('/i/u/dwo_3_3.gif');
  background-position: -21px -10px;
}


#table {
  border-top-right-radius: 20px;
  background: #221718;
  /* background-image: url('/i/pozadi/bc2.gif'); */
  width:190px;
  height:100%;
  left:30px;
  top:-100%;
  position:relative;
  /* padding-bottom: 50px; */
}
#table .inner {
  padding: 1px 0 100px 0;
  /* position: relative; */
  /* color: #dcaf67; */
  font-size: 12px;
  /* background:#221718cc; */
  /* background:#00000066; */
}

#content {
  height: -webkit-calc(100% - 100px);
  position: absolute;
  width: 180px;
}

#content div p {
  font-size: 13px;
  line-height: 1.5;
  /* padding: 0 0 0 10px; */
  margin: 0;
  text-align: center;
}


.content .amount {
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  /* padding-right: 10px; */
}

.content table.amounts {
  margin:0;
  padding:0;
  vertical-align: bottom;
}

.content table.amounts tbody {
  padding-top: 5px;
}

.content /*img*/.resource {
  width: 18px;
}

.content table.amounts img {
  width: 18px;
}

.content table.amounts small {
  font-size: 65%;
}

.content table.amounts td, .content table.amounts th {
   padding: 3px;
}
.content table.amounts td.amount {
}

.content table.fights,
.content table.fights td,
.content table.fights th {
  margin: 0;
  padding: 0;
  table-layout: fixed;
}
.content table.fights {
  border-spacing: 0;
  width: 180px;
  padding-bottom:15px;
  position: relative;
}
.content table.fights tr {
  padding: 2px 0;
}
.content table.fights td,
.content table.fights th {
  vertical-align: middle;
}

.content table .fight_stats {
  /* margin-top: -1px; */
}
.content table.fights td {
  border-top: 1px solid #cb432a;
  background: #2c251c;
}
.content table.fights td:first-child {
  border-top-left-radius: 12px;
}
.content table.fights td:last-child {
  border-top-right-radius: 12px;
}
.content table.fights th img {
  width: 32px;
}
.content table.fights th:nth-last-child(2) img {
  margin-left: -4px;
}
.content table.fights th:nth-child(2),
.content table.fights th:nth-last-child(2) {
  background: url('/i/t/bg_grass.gif');
  border-bottom: 1px solid #cb432a;
  border-top: 3px double #00000000;
  width:28px;
  /* Note: overflow of right aligned text */
  /* border-top: 1px solid #221718; */
}
.content table.fights.persistent th:nth-child(2),
.content table.fights.persistent th:nth-last-child(2) {
  /* border-top-color: #3f7fac; */
  border-top-color: #00d9ff;
}
.content table.fights th:nth-child(2) {
  padding:3px 0 2px 1px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 28px;
}
.content table.fights th:nth-last-child(2) {
  padding:3px 2px 1px 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.content table.fights th:first-child {
  padding-right: 4px;
  text-align: right;
}
.content table.fights th:last-child {
  padding-left: 4px;
}
.content table.fights th div {
  display: inline-block;
  line-height: 1.25em;
  max-height: 39px;
  hyphens: auto;
  overflow: hidden;
  font-size: 11px;
  font-weight: 100;
}

.content table.fights td .graph,
.content table.fights td {
  overflow: auto;
  /* height: 150px; */
  width: auto;
  vertical-align: bottom;
}


.content table.fights td .graph {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex: auto;
}
.content table.fights td .graph * {
  cursor: crosshair !important;
}
.content table.fights td:first-child .graph {
  flex-direction: row-reverse;
  border-right: 1px solid black;
  /* border-top-right-radius: 6px; */
}
.content table.fights td:last-child .graph {
  /* border-top-left-radius: 6px; */
  flex-direction: row;
  border-left: 1px solid black;
}

.content table.fights td .h_max.death {
  /* height: 10000px !important; */
  background: #3f7fac;
  color: #221718;
}

.content table.fights td .h_max {
  color: #cb432aff; /*transparent*/
  display: flex;
  align-items: flex-end;
  padding: 0;
  width:8px;
  overflow: hidden;
  border-top: 1px solid black;
  background: #221718;
}

.content table.fights td .h_max:first-child {
  min-width: 8px;
  font-weight: bold;
}
.content table.fights td .h_max:nth-child(2) {
  min-width: 8px;
}
.content table.fights td .h_max:nth-child(3) {
  min-width: 8px;
}
.content table.fights td .h_max:nth-child(4) {
  min-width: 8px;
}
.content table.fights td .h_max:nth-child(5) {
}
.content table.fights td .h_max:last-child {
  min-width: 8px;
}

.content table.fights td .h {
  border-top: 1px solid black;
  /* padding: 0 0 1px 0; */
  /* margin-top: 75px; */
  /* height: 75px; */
  /* background: #cb432a70; */
  /* color: #cb432aff; */
  /* color: #cb432a70; */
  background: #6c271b;
  color: #6c271b;
  font-size: 10px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* width:8px; */
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 1px;
}
.content table.fights td .h_max:first-child .h {
  color: #221718;
  background: -webkit-linear-gradient(0, #ac3a24, #cb432a);
}
.content table.fights td:last-child .h_max:first-child .h {
  background: -webkit-linear-gradient(0, #cb432a, #ac3a24);
}
.content table.fights td .h_max:nth-child(2) .h {
  color: #231719;
  background: #cb432ad0;
}
.content table.fights td .h_max:nth-child(3) .h {
  color: #231719a1;
  background: #cb432ab8;
}
.content table.fights td .h_max:nth-child(4) .h {
  color: #23171957;
  background: #cb432aa0;
}
.content table.fights td .h_max:nth-child(5) .h {
  color: #23171922;
  background: #cb432a88;
}
.content table.fights td .h_max:last-child .h {
  color: #221718;
  font-weight: bold;
}

.content table.fights td .h.death {
  /* display: none; */
  background: #3f7fac;
  content: "DEAD";
}

.content table.fights .display_row td {
  border: 0;
}

.content table.fights .health_display {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  text-shadow: -1px 2px 2px #000;
  color: #6f7630;
  /* line-height: 29px; */
  vertical-align: top;
  font-weight: bold;
  left:0;
}

.content .iframe_wrap {
  height: -webkit-calc(100% - 160px + 18px);
}
.content .iframe_wrap iframe {
  width: 175px;
  height: 100% !important;
  border:0;
  /* position: absolute; */
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10030;
}

#summary_content > div {
  padding: 10px 5px  5px 5px;
  border-top: 1px solid #503c2f;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

#timeline_content img {
  /* max-width: 24px; */
}


.player_name {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  color: #d5912b;
  text-align: center;
}

/* FORM_POST */

.form_post {
  text-align: center;
  border-top: 2px solid #221718;
  margin-top: -18px;
  position: absolute;
  width: -webkit-calc(100% - 5px);
  bottom:0;
  /* height: 110px; */
}

.msg_box, .form_box, .msg_head_send,
.editbox, .msg_head_send + .msg_core,
#edit_player_name, .form_core,
.form_post, #edit_player_name, .input_wrap {
  border-top-right-radius: 18px;
}

.msg_head_receive,
.msg_head_receive + .msg_core {
  border-top-left-radius: 18px;
}

.msg_head_send + .msg_core {
  border-bottom-right-radius: 18px;
}

.msg_head_receive + .msg_core {
  border-bottom-left-radius: 18px;
}

.editbox, #edit_player_name {
  width: 100% !important;
  padding: 0 5px;
  margin: 0;
  border:0;
  box-sizing: border-box;
  display: block;
  font-family: 'Times New Roman',  Times, serif;
  font-size: 15px;
}

.editbox {
  background: #1a140f;
  color: #CC7744;
  line-height: 20px;
  padding: 5px 5px;
  font-size: 15px;
  margin-top: -18px;
  text-align: left;
  min-height: 100px;
  resize: vertical;
}

#edit_player_name {
  /* position: absolute; */
  /* top: 0; */
  line-height: 28px;
  color: #d5912b;
  font-style: italic;
  text-decoration: underline;
  background: #503c31;
}

.input_wrap {
  background: #503c31;
  padding-bottom: 18px;
}

.cb_zone {
  margin: 0 !important;
  height: auto;
}

.cb_zone table td {
  font-size: 0;
}

#odeslat {
  border: 0;
  width: 75px !important;
  height: 23px;
  margin: 0 auto;
}

.button_send {
  margin: 0 !important;
  height: 40px;
  /* margin-top:-12px !important; */
}

#timeline_content {
  display: flex;
  flex-direction: row;
}

#time_line {
  /* width: 5px; */
  border-right: 5px black solid;
}

#dynamic_line {
  margin-left: 10px;
  border-left: 5px dotted #452e27;
  /* background: fixed; */
}

#dynamic_line ul, #dynamic_line  li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#dynamic_line li {
  position: relative;
  padding-bottom: 5px;
}

#dynamic_line .header {
  position: absolute;
  top: 0;
  margin-left: -15px;
  overflow: visible;
  height: 30px;
  width: -webkit-calc(100% + 12px);
  line-height: 25px;
  padding: 0;
}

#dynamic_line .header span {
  display: inline-block;
}

#dynamic_line .header .date_time {
  float: left;
  width: auto;
  padding: 0 10px 0 25px;
  background: #221718;
  border-bottom-right-radius: 15px;
}

#dynamic_line .header .o {
  float: left;
  width: 5px;
  height: 5px;
  padding: 5px;
  /* background: red; */
  background: #2c251c;
  /* overflow:  */
  border-radius: 1000px;
  border: 5px solid #231719;
  position: absolute;
}

#dynamic_line .header .o span {
  width: 5px;
  height: 5px;
  /* background: #231719; */
  background: #d5902b;
  border-radius: 1000px;
  display: block;
}

#dynamic_line .header .type {
  float: right;
  width: auto;
  /* max-width: 40px; */
  /* padding-top: 5px; */
  margin-top: 5px;
  position: relative;
  /* max-height: 50px; */
  /* overflow: hidden */
}

#dynamic_line .header img.icon {
  max-width: 32px;
  background: #69702e;
  border-radius: 14px;
  border: 1px inset #000;
}

#dynamic_line .header .notify img.icon {
  border-color: #59dafc;
}

#dynamic_line .header .type  span {
  /* position: absolute; */
  /* top: 0; */
}

#dynamic_line .header .type #li_now {
  background: -69px -3px no-repeat url(/i/gui/bc_orloj.png);
  width: 112px;
  height: 112px;
  padding: 5px 0 0 7px;
  border-radius: 44px;
  transform: scale(0.32142857142);
  transform-origin: right top;
  border: 3px solid black;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin-top: -26px;
}

#dynamic_line .body {
  padding-top: 22px;
  padding-left: 10px;
  /* padding-bottom: 15px; */
  /* width: 100%; */
  /* text-align: right; */
  max-height: 160px;
  overflow: scroll;
  width: 100%;
  box-sizing: border-box;
}

#dynamic_line hr {
  border: 0;
  padding-top: 8px;
  border-bottom: 1px solid #452e28;
  border-top: 0;
  border-radius: 14px;
  margin: 0;
  height: 0;
  width: -webkit-calc(100% - 10px);
  box-sizing: border-box;
  margin-left: 10px;
}

#dynamic_line .body p {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

#dynamic_line .body h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  line-height: 1.2;
  color: #eacd86;
  padding: 0 0 4px 0;
  margin: 0;

}

#dynamic_line .body h3:first-letter {
    text-transform: capitalize;
}

#dynamic_line .body img {
  max-width: 20px !important;
  width: auto !important;
  display: block;
}

#dynamic_line .body img:nth-child(2),
#dynamic_line .body img:nth-child(3) {
  display: none;
}

#dynamic_line .body .m {
  width: auto !important;
  height: auto !important;
  padding: 0 !important;
  margin: 0 !important;
}
