* {
  width: auto !important;
  margin: 0;
  padding: 0;
  background-image: none !important;
  position: static;
  font-size: 13px;
  fint-family: 'Times New Roman', Times, serif;
}

.forums_head, .forums_links, .smilies2f,
.smilies2, .small_panel_space, .smilies_zone,
.form_head, .navigation, .page_footer,
.league, .clan_position, .ranking_panel,
.player_position, .icons_panel,
.msg_head_send .photo_div,
.cb_zone table td:last-child,
.msg_head_receive .clan_area
{
  display: none !important;
}

body {
  background: #231719 !important;
  overflow: hidden;
}

.msg_box {
  width: 100% !important;
  position: fixed !important;
  top: 0;
  /* bottom: 200px; */
  left: 0;
  /* height: 200px !important; */
  height: -webkit-calc(100% - 150px);
  overflow-x: scroll;
  z-index: 10;
  padding:0 0 100px 0;
  box-sizing: border-box;
  background: #2c251c;
}

.msg_box * {
  position: static;
  top: unset;
  left: unset;
}

.msg_head_receive,
.msg_head_send,
.msg_head_red {
  background: #503c30;
  /* background: #796c5c45; */
  position: relative;
  /* width: 100% !important; */
  padding:3px 5px 21px 5px;
  overflow: hidden;
  z-index: 10;
}

.msg_head_receive {
  height: 31px;
}

.msg_head_send {
  height: 44px;
  padding-left: 18px;
}

.msg_head_receive div,
.msg_head_send div {
  line-height: 1.3;
  margin: 0;
  padding: 0;
  height: auto;
}

.msg_head_receive div {
  /* float: right; */
  text-align: right;
}

.msg_head_send div {
  /* float: left; */
  text-align: left;
}

.right_panel {
  width:11px;
  overflow: hidden;
  position: absolute;
  top:-1px;
}

.right_panel img {
  padding: 0;
  margin: 0;
}

.msg_head_receive .right_panel {
  right: 0;
  /* float: right; */
}

.msg_head_send .right_panel {
  left: 0;
  /* float: left; */
}

.date {
  /* color: #23181a; */
  color: black;
  height: auto;
  font-size: 13px;
}

.clan_area {
  font-size: 12px;
}

.player_name_div {
  display: block;
  /* width: 100%; */
  float: none !important;
  /* line-height: 1; */
}

.player_name {
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  color: #d5912b;
}

.msg_head_receive .photo_div {
  margin: -5px 8px 0;
  border: 1px solid black;
  border-width: 0 1px;
  /* height: 47px; */
}

.photo_div {
  float: right;
}

.photo_div img {
  height: 42px;
}

.msg_core, .msg_footer,
.msg_text_send, .msg_text {
  margin: 0;
  padding: 0;
}

.msg_core {
  margin-top: -18px;
  padding:10px 5px;
  z-index: 20;
  position: relative;
  background: #221718
}

.msg_head_send + .msg_core {
  border-right: 1px dotted #503c30;
  border-bottom: 1px solid #503c30;
  padding-right: 10px;
  /* color: #EEB844 !; */
}

.msg_head_receive + .msg_core {
  border-left: 1px dotted #503c30;
  border-bottom: 1px solid #503c30;
  padding-left: 10px;
  /* color: #EECC77; */
}

.msg_footer {
  height: 5px;
  background: none;
}

.form_box {
  height: auto;
  width: 100% !important;
  position: fixed !important;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 20;
  background: #231719;
  border-top: 2px solid #1a140f;
}


#forum {
  position: relative !important;
  /* height: auto !important; */
  /* height: 250px; */
}


.form_box * {
  margin: 0;
  padding: 0;
}

.form_core {
  padding-top: 30px;
  margin: 0;
  position: static;
  background: #503c31;
}

.form_footer_mail {
  font-size: 0;
  line-height: 0;
  height: auto !important;
}

.msg_box, .form_box, .msg_head_send,
.editbox, .msg_head_send + .msg_core,
#edit_player_name, .form_core {
  border-top-right-radius: 18px;
}

.msg_head_receive,
.msg_head_receive + .msg_core {
  border-top-left-radius: 18px;
}

.msg_head_send + .msg_core {
  border-bottom-right-radius: 18px;
}

.msg_head_receive + .msg_core {
  border-bottom-left-radius: 18px;
}

.editbox, #edit_player_name {
  width: 100% !important;
  padding: 0 5px;
  margin: 0;
  border:0;
  box-sizing: border-box;
  display: block;
  font-family: 'Times New Roman',  Times, serif;
  font-size: 15px;
}

.editbox {
  position: static;
  top: 0;
  background: #1a140f;
  /* color: #EEB844; */
  color: #CC7744;
  line-height: 1.3;
  padding: 5px 5px;
  font-size: 15px;
}

#edit_player_name {
  position: absolute;
  top: 0;
  line-height: 28px;
  color: #d5912b;
  font-style: italic;
  text-decoration: underline;
  background: #503c31;
}

.cb_zone {
  margin: 0 !important;
  /* position: absolute; */
  height: auto;
}

.cb_zone table td {
  font-size: 0;
}

#odeslat {
  border: 0;
  width: 75px !important;
  height: 23px;
}

.button_send {
  margin: 0 !important;
  height: 40px;
  margin-top:-12px !important;
}
